<html>
<head>
    <title></title>
</head>
<body>

    <table class="table table-light table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Ccылки
                </th>
                <th>
                    Примечания
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>
                    <a href="/locales">/locales</a>
                </td>
                <td>
                    Список языков БД
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>
                    <a href="/models">/models</a>
                </td>
                <td>
                    Список моделей
                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>
                    <a href="/filters?brand_id=32&model_id=CIVIC+COUPE&params%5B0%5D=yearIssue_1995&params%5B1%5D=CIVIC+COUPE&params%5B2%5D=door_2&">
                        /filters?brand_id=32&model_id=CIVIC+COUPE&params%5B0%5D=yearIssue_1995&params%5B1%5D=CIVIC+COUPE&params%5B2%5D=door_2&
                    </a>
                </td>
                <td>
                    Список фильтров
                </td>
            </tr>

            <tr>
                <td>5</td>
                <td>
                    <a href="/filter-cars?brand_id=32&model_id=CITY&params%5B0%5D=year_1985&params%5B1%5D=CITY&">
                        /filter-cars?brand_id=32&model_id=CITY&params%5B0%5D=year_1985&params%5B1%5D=CITY&
                    </a>
                </td>
                <td>
                    Список авто, которые соответствуют выбранным фильтрам
                </td>
            </tr>

            <tr>
                <td>6</td>
                <td>
                    <a href="/vehicle/EU_1625/mgroups">/vehicle/EU_1625/mgroups</a>
                </td>
                <td>
                    Получение груп запчастей по авто
                </td>
            </tr>

            <tr>
                <td>8</td>
                <td>
                    <a href="/vehicle/EU_1625"> /vehicle/EU_1625 </a>
                </td>
                <td>
                    Получение информации по авто
                </td>
            </tr>


        </tbody>
    </table>

</body>
</html>
